.node-finder > div {
  flex: 1;
  width: 100%;
  display: flex;
  margin-bottom: 1lh;
}

.node-input {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.node-input input {
  width: 100%;
  padding: 10px;
  flex: 1;
  height: 34px;
  border-radius: 8px;
  border: 1px solid color-mix(in srgb, currentColor, transparent 90%);
  user-select: all;
}

.node-input button {
  flex: 1;
  height: 34px;
  width: 34px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    display: flex;
  }
}
